@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  animation: fadeOut 500ms forwards;
  transform: scale(1); /* Ensure it's always set to scale(1) after animation */
  transform-origin: center center;
}

.fade-in {
  animation: fadeIn 250ms forwards;
  transform: scale(1); /* Ensure it's always set to scale(1) after animation */
  transform-origin: center center;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
/* Pulsing fire effect - subtle fire glow on image contours */
@keyframes pulseFire {
  0% {
    filter: drop-shadow(0 0 15px rgba(255, 69, 0, 0.6)) drop-shadow(0 0 30px rgba(61, 43, 62, 0.8)) drop-shadow(0 0 15px rgba(255, 0, 0, 0.9));
    opacity: 1;
  }
  50% {
    filter: drop-shadow(0 0 25px rgba(255, 47, 0, 0.9)) drop-shadow(0 0 50px rgb(255, 0, 0)) drop-shadow(0 0 25px rgba(255, 0, 0, 1));
    opacity: 0.85;
  }
  100% {
    filter: drop-shadow(0 0 15px rgba(255, 69, 0, 0.6)) drop-shadow(0 0 30px rgba(61, 43, 62, 0.8)) drop-shadow(0 0 15px rgba(255, 0, 0, 0.9));
    opacity: 1;
  }
}
.custom-inner-shadow {
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3);
}

/* Translucency and glowing effect on click */
.glow-fire {
  background-color: transparent; /* Ensure there's no background color */
  animation: pulseFire 2s infinite, shake 0.5s;
  transition: filter 0.4s ease-out, opacity 0.4s ease-out; /* Add smooth fade transition */
}

/* Adjusting the shake animation */
.shake-animation {
  animation: shake 0.5s, pulseFire 2s infinite;
}


.text-shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); /* Dark shadow for contrast */
}
.text-background {
  background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white */
  padding: 0.2rem 0.4rem;
  border-radius: 0.25rem;
}
body {
  font-family: 'Rowdies', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}